<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <label for="editTextID">ID:</label>
    <input type="text" id="editTextID" name="editTextID"><br><br>
    <label for="editTextPW">PW:</label>
    <input type="text" id="editTextPW" name="editTextPW"><br><br>
    <label for="loginType">타입:</label>
    <input type="text" id="loginType" name="loginType"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>