<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/notices/notices" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="content">Content:</label>
    <input type="text" id="content" name="content"><br><br>

    <label for="noticeLevel">NoticeLevel:</label>
    <input type="email" id="noticeLevel" name="noticeLevel"><br><br>

    <label for="childId">ChildId:</label>
    <input type="text" id="childId" name="childId"><br><br>

    <input type="submit" value="Submit">

</form>
</body>
</html>