<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
<form action="/signup" method="post">
    <label for="inputId">ID:</label>
    <input type="text" id="inputId" name="inputId"><br><br>
    <label for="inputName">Name:</label>
    <input type="text" id="inputName" name="inputName"><br><br>
    <label for="inputEmail">Email:</label>
    <input type="text" id="inputEmail" name="inputEmail"><br><br>
    <label for="inputPW">Password:</label>
    <input type="text" id="inputPW" name="inputPW"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>